.titulo{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.menu ul {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
   
}
.menu li{
  
    position: relative;  
    text-align: center;
    flex-grow: 1;

}
.menu li:hover{
    background: #B3B3B3;
}

.menu li a{
   
    display: block;
    padding: 15px 20x;
    color:white;
    text-decoration: none;
}

.menu > li{
    float: left;
    
}

.menu li ul{

    display: none;
    position: absolute;
    padding: 12px 40px;
    background: #F47920;
    width: 78%; 
  
}
 


.menu li:hover > ul{
    display: block;
    
