.titulo{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu item {
    float: left;
}
.menu item {
    background-color: darkblue;
    color: darkgray;
    padding: 12px 22px;
    display: block;
    font-size: 16px;
    text-decoration: none;
}
.menu desple{
    display: mone;
}
.munu item a:hover{
    background-color: darkgrey;
    color: darkslategray;
}
.menu item:hover desple{
    display: inline-block;
}