.titulo{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nav li a{
    background-color: blue;
    color: cornsilk;
text-decoration: none;
padding: 10px 15px;
display: block;
}

.nav >li {
    float: left;

}

.nav li a:hover {
    background-color: cornsilk;
}
.nav li ul {
    display: ;
    position: absolute;
    min-width: 140 px;
}
.nav li:hover>ul{
    display: block;
}